<body>
    <h1>Boston Housing Predictor</h1>
    <center>
    <div class="form">
    <form action="/predict" method="post">
      Enter values to predict value of owner occupied homes<br><br>
      <input type="text" name="crim" placeholder="CRIM" autofocus required><br><br>
      <input type="text" name="zn" placeholder="ZN" required><br><br>
      <input type="text" name="indus" placeholder="INDUS" required><br><br>
      <input type="text" name="chas" placeholder="CHAS" required><br><br>
      <input type="text" name="nox" placeholder="NOX" required><br><br>
      <input type="text" name="rm" placeholder="RM" required><br><br>
      <input type="text" name="age" placeholder="AGE" required><br><br>
      <input type="text" name="dis" placeholder="DIS" required><br><br>
      <input type="text" name="rad" placeholder="RAD" required><br><br>
      <input type="text" name="tax" placeholder="TAX" required><br><br>
      <input type="text" name="ptratio" placeholder="PT RATIO" required><br><br>
      <input type="text" name="b" placeholder="B" required><br><br>
      <input type="text" name="lstat" placeholder="L STAT" required><br><br>
      <input type="submit" value="Predict">
    </form>
  </div>
</center>
<br>
<br>


 